<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

<title> LoginForm </title>
<style>
body{

background-image:url({% static 'img/back.png' %});
background-size:cover; background-repeat:no-repeat;
}

.container{
padding: 20px;
  max-width: 350px;
  width: 100% ;
  color:#f20404;
  margin: 0 auto;
  border-radius: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
  font-size:18px;
  background-color:white;
  style="padding:10px;"
}


</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>




<div class="container" style="text-align:center">
<h1 style="border: 1px solid red;">Login Page</h1>
<form method="POST" name="next" value="{{ next }}" >
{% csrf_token %}

{{ form.as_p }}

<a href={% url 'password_reset' %} style="color:red;"> Forgot Password </a>
<button type="submit"> Submit </button>
</form>

<!--
<a href="https://www.facebook.com/sharer/sharer.php?u= http://127.0.0.1:8000/login">
Facebook
</a>

<a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@tanu%20http://127.0.0.1:8000/login/">
Twitter
</a>
-->

<a href="{% url 'social:begin' 'github' %}"><i class="fa fa-github"> Login with GitHub</i></a><br>
<a href="{% url 'social:begin' 'twitter' %}"><i class="fa fa-twitter-square"> Login with Twitter </i></a>
<!-- 
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
-->

</div>
</body>

</html>